<footer>
    <div class="container-footer">
        <div class="row-footer">
            <div class="col-footer">
                <p>Envios a todo el País</p>
            </div>
            <div class="col-footer">
                <p>Seguinos en nuestras redes sociales</p>
              </div>
              <div class="row-redes">
                <a href=""><img src="img/instagram.svg" alt="Link Instagram"></a>
                <a href=""><img src="img/facebook.svg" alt="Link Facebook"></a>
                <a href=""><img src="img/twitter.svg" alt="Link Twitter"></a>
                </div>
        
        </div>
    </div>
</footer>