
<header>
    <nav class="navbar navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="img/SERAFINA1.png" alt="Logo Serafina"  class="d-inline-block align-text-top">
          </a>
          <ul>
          <li>
              <a href="">Productos</a>
          </li>
          <li>
            <a href="">Contacto</a>
        </li>
        </ul>
    
        </div>
      </nav>

      <div class="card mb-3">
          <a href="">
        <img src="img/hero1.png" class="card-img-top" alt="Portada Serafina">
      </a>
        </div>
      
</header>