<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/meta') %>
</head>
<body>
    <%-include('./partials/header') %>
    
        <main>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <a href="">
                    <img src="img/summercollection.png" class="d-block w-100" alt="Coleccion de Verano Serafina">
                    </a>
                  </div>
                  <div class="carousel-item">
                      <a href="">
                    <img src="img/summercollection2.png" class="d-block w-100" alt="Coleccion de verano Serafina">
                    </a>
                  </div>
                  <div class="carousel-item">
                      <a href="">
                    <img src="img/summercollection3.png" class="d-block w-100" alt="Coleccion de verano Serafina">
                    </a>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </main>
    
        <br>
        
    
    <section>
        <div class="card mb-3">
            <a href="">
            <img src="img/bestsellers.png" class="card-img-top" alt="Best Sellers">
            </a>
            </div>
    </section>
    
    
    <section>
        <div class="Sale-card">
            <p>SALE 50%</p>
                 </div>
        
        </section>
    
        <section>
            <div class="card-group">
                <div class="row">
                <div class="col-md-6 col-sm-12 col-xl-3
                ">
                  <img src="img/card1.png" class="card-img-top" alt="Articulo Zapato">
                  <div class="card-body">
                    <h5 class="card-title">All Black</h5>
                    <p class="card-text">Los clasicos del invierno te esperan!</p>
                    <p class="card-text"><small class="text-muted">Ultimas unidades en stock</small></p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xl-3
                ">
                  <img src="img/card2.png" class="card-img-top" alt="Articulo-Zapato">
                  <div class="card-body">
                    <h5 class="card-title">Animal</h5>
                    <p class="card-text">Estampados clásicos que siempre van!</p>
                    <p class="card-text"><small class="text-muted">Ultimas unidades en stock</small></p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xl-3
                ">
                  <img src="img/card3.png" class="card-img-top" alt="Articulo-Zapato">
                  <div class="card-body">
                    <h5 class="card-title">Lady Nude</h5>
                    <p class="card-text">Van con todo, son los mas versátiles!</p>
                    <p class="card-text"><small class="text-muted">Ultimas unidades en stock</small></p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xl-3
                ">
                  <img src="img/card4.png" class="card-img-top" alt="Articulo-Zapato">
                  <div class="card-body">
                    <h5 class="card-title">Lady Black</h5>
                    <p class="card-text">Infaltables y elegantes.</p>
                    <p class="card-text"><small class="text-muted">Ultimas unidades en stock</small></p>
                  </div>
                </div>
            </div>
              </div>
        </section>
    
    
        
        
        <%-include('./partials/footer') %>

</body>
</html>