<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/meta') %>

<body>
    <%-include('../partials/header') %>
   
    
     
      

      <div class="card">
        <div class="card-header">
          DATOS DE CONTACTO
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>(3624) 0303456</p>
            <footer class="blockquote-footer">Encontranos en  <cite title="Source Title">Cabildo 500</cite></footer>
          </blockquote>
        </div>
      </div>

    <%-include('../partials/footer') %>
    
</body>
</html>